* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(layers/header/grid.png);
}
.container {
	width: 1170px;
	margin:0 auto;
	height: 75px;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
.col-md-3 {
	width: 25%;
}
.col-md-6 {
	width: 50%;
}
.col-md-9 {
	width: 75%;
}
.col-md-12 {
	width: 25%;
}
[class*="col-"] {
	float: left;
}
.header {
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;
	height: 100px;
}
.border-bottom {
	border-bottom: 1px solid white;
}
.menu li {
	position: relative;
	width: 25%;
	float: left;
	border-left: 1px solid #2c71b8;
}
.menu li:last-child {
	border-right: 1px solid #2c71b8;
}
.menu a {
	position: relative;
	display: block;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	color: #2c70b7;
	font-size: 21px;
	font-weight: 300;
}
.menu a:hover {
	visibility: visible;
	transition-delay: 0s;
	background-color: #2c71b8;
	color: white;
}
.search {
	position: relative;
	top: -18px;
	border: 1px solid #2c71b8;	
	width: 200px;
	height: 35px;
	margin: 26px;
}	
input[type="text"]::-webkit-input-placeholder { 
	color: #2c71b8; 
}
.search input {
	border: none;
    padding: 6px;
    margin-left: 16px;
    background: inherit;
}  
.search .submit {
	position: absolute;
	top: 3px;
	right:3px;
	background: url(layers/header/loupe.png) #2c71b8 no-repeat 50%;
	width: 29px;
	height: 27px;
}
.smallcart {
	position: relative;
	top: 8px;
	width: 38px;
	height: 36px;
	background: url(layers/header/blue_cart.png) #ffffff no-repeat 50%;
	margin-left: 30px;
}
.number {
	position: absolute;
	top: -7px;
	height: 18px;
	width: 18px;
	background-color: #2c71b8;
	color: #ffffff;
	font-size: 10px;
	padding: 5px;
	margin-left: -10px;
	border-radius: 10px 10px;
}
ul.submenu-products {
	position: absolute;
	margin: -1px;
    list-style: none;
    height: auto;
    width: 200%;
	background-color: #2c71b8;
    display: none;
}
.submenu-products a {
	display: block;
	text-align: inherit;
	color: white;
	padding-left: 32px;
}
.submenu-products a:hover  {
	background-color: white;
	color: #2c70b7;
}
ul.menu > li:hover > ul.submenu-products {
	display: block;
	top: 50px;
}
.submenu-products li {
	width: 100%;
	display: block;
}
.dropdown {
	width: 15px;
	height: 15px;
	background: url(layers/header/dropdown.png) no-repeat 50%;
	position: absolute;
	right: 11px;
	top: 17px;
}
.main  {
	font-family: 'Roboto', sans-serif;
	color: white;
	/*height: 2635px;*/
}
.slide {
	height: 400px;
}	
.device_type {
	height: 842px;
	margin-right: 30px;
	background-color: rgba(255,255,255,0.2);
	border-right: 1px solid white; 
}
.home_page {
	width: auto;
}
.home_page a {
	font-weight: 200;
	font-size: 14px;
	color: rgb(135,172,216);
	line-height: 70px;
}
.next {
	font-weight: 200px;
	font-size: 14px;
	color: rgb(135,172,216);
}
.heading {
	font-size: 48px;
	line-height: 40px;

}
.window_product {
	position: relative;
	top: 55px;
	width: 30%;
	height: 650px;
	border: 1px solid white;
	background-color: rgba(44,113,184,0.8);
}
.image_product {
	position: relative;
	height: 180px;
	background-color: rgba(255,255,255,0.75);
	text-align: center;
	padding: 45px;
}
.blue_frame {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 29px;
	width: 29px;
	border: 1px solid #2c71b8;
	background: url(layers/main/blue_frame.png) no-repeat 50%;
}
.blue_heart {
	position: absolute;
	top: 50px;
	right: 10px;
	height: 29px;
	width: 29px;
	border: 1px solid #2c71b8;
	background: url(layers/main/blue_heart.png) no-repeat 50%;
}
.specification_product{
	margin-left: 15px;
}
.device_name {
	font-size: 30px;
	line-height: 2;
}
.text {
	width: 80%;
	font-size: 21px;
	font-weight: 100;
	line-height: 1.3;
}
.font_size {
	font-size: 21px;
	text-transform: uppercase;
	line-height: 1.5;
	white-space: pre;
}
.capitalize {
	text-transform: capitalize;
	font-weight: 100;
}
.lowercase {
	text-transform: lowercase;
	font-weight: 100;
}
.uppercase {
	text-transform: uppercase;
	/*font-weight: 100;*/
}
.price_product {
	font-size: 48px;
	line-height: 2;
	text-align: center;
}
.superscript {
	vertical-align: super;
	font-size: 27px;
}
.text_center {
	position: relative;
	text-align: center;
	line-height: 3.5;
}	
.more_details {
	/*position: relative;*/
	font-size: 21px;
	font-weight: 600;
	height: 47px;
	width: 210px;
	border: 1px solid white;
	background-color: inherit;
	text-align: center;
}
input[type="buttom"]::-webkit-input-placeholder { 
	color: white; 
}
.add_to_cart {
	background-color: rgba(255,255,255,0.2);
}
.white_cart {
	position: absolute;
	top: 17px;
	left: 75%;
	height: 15px;
	width: 17px;
	background: url(layers/main/white_cart.png) no-repeat 50%;
}
.margin {
	margin: 0px 30px 30px 0px;
}
.sort_by {
	/*float: right;*/
	width: 30%;
	height: 45px;
	/*top: 28px;*/
	padding: 0px 0px 0px 15px;
	/*margin: -45px 170px 0px 0px;*/
	font-size: 21px;
	color: white;
	background-color: #2c71b8;
	border: 1px solid white;
}
.white_frame a:hover {
	background: url(layers/main/white_frame.png) #2c71b8 no-repeat 50%;
}
.white_heart a:hover {
	background: url(layers/main/white_heart.png) #2c71b8 no-repeat 50%;
}
.load {
	text-align: center;
	color: white;
	font-size: 36px;
}
.footer {
	background-color: rgba(255,255,255,0.75);
	/*padding: 25px 0;*/
	height: 100px;
	text-align: center;
	color: #2c71b8
}




